@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.name{
    font-family: 'Permanent Marker', cursive;
}

.container {
    padding-top: 1em;
}

// .icons{
//     text-align: right;
// }

a {
    color: black;
}

.row {
    text-align: center;
}
