@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.name{
    font-family: 'Permanent Marker', cursive;
}

.icons{
    text-align: right;
}

.container-fluid{
    background-color: bisque;
}