<div class="container">
    <div class="navbarrow row">
        <div class="col-sm-6 name">
            <h2>Kayla MacKenzie</h2>
        </div>
        <div class="col-sm-6 icons">
            <div class="navbaricons">
                <a href="https://www.instagram.com/shattered_for_his_glory" target="blank">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
                <a href="https://www.facebook.com/shatteredforhisglory/" target="blank">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
                <a href="https://twitter.com/shattered4him" target="blank">
                    <i class="fab fa-twitter fa-2x fa-fw"></i>
                </a>
            </div>
        </div>
    </div>
</div>