<div class="container">
    <div class="row booktitle text-center">
        <div class="col-sm-12 title">
            <h2>Shattered for His Glory: When Hope Was Born</h2>
        </div>
    </div>
    <div class="row picanddesc">
        <div class="col-sm-6 bookpic text-center picanddesc">
            <img class="bookpic" src="assets/book.jpg" height="200px">
        </div>
        <div class="col-sm-6 bookdescription picanddesc">
            <h6>This is a description of the book</h6>
        </div>
    </div>
</div>
