@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.jumbotron {
    background-image: url('../assets/hope.jpg');
    min-height: 400px;
    text-align: center;
    background-size: cover; 
    background-position: center center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

// .container-fluid{
//     background-color: gray;
// }

.book{
    text-align: center;
}

.bio{
    text-align: center;
}

a {
    color: black;
}

.contact {
    text-align: center;
}