<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron card card-image">
                <div class="row">
                    <div class="col-md-6">
                        <p>Shattered for His Glory</p>
                    </div>
                    <div class="col-md-6">
                        <p>When Hope Was Born</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row options">
        <div class="col-sm-6 bio">
            <a class="nav-link"
                [routerLink]="['/bio']"
                routerLinkActive="active">Author Bio</a>
        </div>
        <div class="col-sm-6 book">
            <a class="nav-link"
                [routerLink]="['/book']"
                routerLinkActive="active">Upcoming Book</a>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="row">
        <div class="col-md-12">
            <div class="contact">
                <h1>This is the next row</h1>
            </div>
        </div>
    </div>
</div>
