@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.jumbotron {
    background-image: url('../assets/hope.jpg');
    min-height: 450px;
    text-align: center;
    background-size: cover; 
    background-position: center bottom;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
}

.container-fluid {
    background-repeat: repeat;
    background-image: url("../assets/45-degree-fabric-light.png");
    background-color: rgb(8, 155, 166);
}

.book{
    text-align: center;
}

.bio{
    text-align: center;
}

a {
    color: black;
}

.contact {
    text-align: center;
}