<div class="container">
    <div class="row text-center">
        <div class="col-md-12 bioheader">
            <h2>Kayla MacKenzie</h2>
        </div>
    </div>
    <div class="row picdescription">
        <div class="col-md-6 propic text-center picdescription">
            <img class="profile" src="assets/authorpic.jpg" height="300px">
        </div>
        <div class="col-md-6 bio picdescription">
            <h6>Kayla lives in Boise, Idaho with her husband and 3 children. She enjoys spending time with her parents and sisters when she isn't busy writing.</h6>
        </div>
    </div>
</div>
