<div class="container">
    <div class="row text-center">
        <div class="col-md-12 bioheader">
            <h2>Kayla MacKenzie</h2>
        </div>
    </div>
    <div class="row picdescription text-center">
        <div class="col-md-6 propic">
            <img class="profile" src="assets/book.jpg" height="300px">
        </div>
        <div class="col-md-6 bio">
            <h6>This is where stuff about Kayla will go when somebody figures out what needs to go here.</h6>
        </div>
    </div>
</div>
